{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{% block title %}{% endblock %}</title>
    <meta content="{% block meta_description %}{% endblock %}" name="description">
    <meta content="{% block meta_keywords %}{% endblock %}" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'core/img/favicon.png' %}" rel="icon">
    <link href="{% static 'core/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'core/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'core/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet">
    <style>
        body::before {
            content: "";
            position: fixed;
            background: #040404 url("{% static 'core/img/bg.jpg' %}") top right no-repeat;
            background-size: cover;
            left: 0;
            right: 0;
            top: 0;
            height: 100vh;
            z-index: -1;
        }
    </style>

    <!-- =======================================================
  * Template Name: Personal - v4.6.0
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container">

            <h1><a href="{% url 'core:index' %}">{{ site.my_info.firstname }} {{ site.my_info.lastname }}</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
            <h2>{{ site.my_info.display_text | safe }}</h2>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link active" href="#header">Home</a></li>
                    {% if site.my_info.is_birthday %}
                    <li><a class="nav-link" href="#birthday">Birthday</a></li>
                    {% endif %}
                    <li><a class="nav-link" href="#about">About</a></li>
                    <li><a class="nav-link" href="#resume">Resume</a></li>
                    <li><a class="nav-link" href="#services">Services</a></li>
                    <li><a class="nav-link" href="#portfolio">Portfolio</a></li>
                    <li><a class="nav-link" href="#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <div class="social-links">
                {% for account in site.my_info.social_accounts.all %}
                <a href="{{ account.link }}" target="_blank" class="{{ account.name }}"><i class="bi bi-{{ account.name }}"></i></a>
                {% endfor %}
            </div>

        </div>
    </header><!-- End Header -->

    {% block content %}{% endblock %}

    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
        Template by <a href="https://bootstrapmade.com/">BootstrapMade</a><br>
        Designed by <a href="">Oluwadamilola</a>
    </div>

    <!-- Vendor JS Files -->
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'core/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'core/vendor/purecounter/purecounter.js' %}"></script>
    <script src="{% static 'core/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'core/vendor/waypoints/noframework.waypoints.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'core/js/main.js' %}"></script>

    <!-- Notification script -->
    <script src="{% static 'core/js/jquery.min.js' %}"></script>
    <script src="{% static 'core/js/bootstrap-notify.js' %}"></script>
    <script type="text/javascript">
        function showNotification(a,e,color,icn,msg){
            color=color,$.notify({icon:icn,message:msg},{type:color,timer:8e3,placement:{from:a,align:e}})}

        $(document).ready(function() {
          {% for message in messages %}
          setTimeout(1000, showNotification(
            'top',
            'left',
            "{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}",
            "now-ui-icons travel_info",
            '{{ message }}'));
            {% endfor %}
        });
      </script>

</body>

</html>