{% extends 'core/base_site.html' %}
{% load static %}
{% block title %}{{ site.my_info.firstname }}'s official website{% endblock %}

{% block content %}

{% if site.my_info.is_birthday %}
<!-- ======= Birthday Section ======= -->
<section id="birthday" class="about">

  <!-- ======= About Me ======= -->
  <div class="about-me container">

    <div class="section-title">
      <h2>Birthday</h2>
      <p>I'm a year older today.</p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="{% static 'core/img/me.jpg' %}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Your wishes, prayers and more</h3>
        <p class="fst-italic">
          It is a great thing to thank the Almighty for sparing my life till now in good health and happiness
        </p>
        <div class="row">
          <div class="col-lg-6">
            <!-- ======= Send wish ======= -->
            <div class="contact">
                {% if wish_form.errors %}<div class="alert alert-danger">{{ wish_form.errors }}</div>{% endif %}
              <form action="{% url 'core:index' %}" method="post" role="form" class="php-email-form mt-4">
                {% csrf_token %}
                <input type="hidden" name="info" value="{{ wish_form.info.value }}">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required {% if wish_form.name.value is not None %}value="{{ wish_form.name.value }}"{% endif %}>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                      required {% if wish_form.email.value is not None %}value="{{ wish_form.email.value }}"{% endif %}>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="relationship" id="subject" placeholder="Relationship(e.g friend)" required {% if wish_form.relationship.value is not None %}value="{{ wish_form.relationship.value }}"{% endif %}>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="birthday messages, wishes, prayers..." required {% if wish_form.message.value is not None %}value="{{ wish_form.message.value }}"{% endif %}></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div><!-- End Send wish -->
          </div>
          <div class="col-lg-6">
            <h5>You can also send flex money ooo. any amount is allowed! 😂😂😋</h5>
            <a href="" class="btn btn-success">Send cash</a>
          </div>
        </div>
      </div>
    </div>

  </div><!-- End About Me -->


  <!-- ======= Birthday wishes ======= -->
  <div class="testimonials container">

    <div class="section-title">
      <h2>Birthday wishes and prayers from friends and families</h2>
    </div>

    {% if site.my_info.wishes.all %}
    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        {% for wish in site.my_info.wishes.all %}
        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              {{ wish.message }}
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <h3>{{ wish.name }}</h3>
            <h4>{{ wish.relationship }}</h4>
          </div>
        </div><!-- End wish item -->
        {% endfor %}

      </div>
      <div class="swiper-pagination"></div>
    </div>

    <div class="owl-carousel testimonials-carousel">

    </div>  
    {% else %}
    <h3>No birthday wishes sent yet. Be the first</h3>
    {% endif %}

  </div><!-- End Birthday wishes  -->

  <!-- ======= Birthday pictures ======= -->
  <div class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>it's all about me</h2>
        <p>Picture Gallery</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul class="portfolio-flters" id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            {% for category in picture_categories %}
            <li data-filter=".filter-{{ category.name | slugify }}">{{ category.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" id="photo-container">

        {% if site.my_info.pictures.all %}
        {% for picture in site.my_info.pictures.all %}
        <div class="col-lg-4 col-md-6 portfolio-item {% for category in picture.categories.all %}filter-{{ category.name | slugify }} {% endfor %}">
          <div class="portfolio-wrap">
            <img src="{{ picture.image.url }}" class="img-fluid" alt="{{ picture.caption }}">
            <div class="portfolio-info">
              <h4></h4>
              <p>{% for category in picture.categories.all %}{{ category.name }}, {% endfor %}</p>
              <div class="portfolio-links">
                <a href="{{ picture.image.url }}" data-gallery="portfolioGallery"
                  class="portfolio-lightbox" title="{{ picture.caption }}"><i class="bx bx-plus"></i></a>
              </div>
              <a href="{{ picture.image.url }}" download="download">Download</a>
      
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <h3>No picutes available for display</h3>
        {% endif %}


      </div>

    </div>
  </div><!-- End Birthday pictures -->

</section><!-- End Birthday Section -->
{% endif %}

<!-- ======= About Section ======= -->
<section id="about" class="about">

  <!-- ======= About Me ======= -->
  <div class="about-me container">

    <div class="section-title">
      <h2>About</h2>
      <p>Learn more about me</p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="{% static 'core/img/me.jpg' %}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>{{ site.my_info.occupation }}</h3>
        <p class="fst-italic">
          {{ site.my_info.quote }}
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>{{ site.my_info.dob }}</span>
              </li>
              <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>{{ request.url.hostname }}</span>
              </li>
              <li><i class="bi bi-chevron-right"></i> <strong>Phone{{ site.my_info.phone_numbers.all | pluralize }}:</strong> {% for number in site.my_info.phone_numbers.all %}<span><a
                    href="tel:{{ number.number}}">{{ number.number}}</a></span>{% endfor %}</li>
              <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>{{ site.my_info.city }}</span></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>{{ site.my_info.age }}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>{{ site.my_info.get_degree_display }}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Email{{ site.my_info.emails.all | pluralize }}:</strong>
                {% for email in site.my_info.emails.all %}<span><a href="mailto:{{ email.email }}">{{ email.email }}</a></span>{% endfor %}</li>
              <li><i class="bi bi-chevron-right"></i> <strong>Nickname:</strong> <span>{{ site.my_info.nickname }}</span></li>
            </ul>
          </div>
        </div>
        <p>
          {{ site.my_info.bio }}
        </p>
      </div>
    </div>

  </div><!-- End About Me -->

  <!-- ======= Counts ======= -->
  <!-- <div class="counts container">

    <div class="row">

      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <i class="bi bi-emoji-smile"></i>
          <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Happy Clients</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
        <div class="count-box">
          <i class="bi bi-journal-richtext"></i>
          <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Projects</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="bi bi-headset"></i>
          <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Hours Of Support</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="bi bi-award"></i>
          <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1"
            class="purecounter"></span>
          <p>Awards</p>
        </div>
      </div>

    </div>

  </div> -->
  <!-- End Counts -->

  <!-- ======= Skills  ======= -->
  <div class="skills container">

    <div class="section-title">
      <h2>Skills</h2>
    </div>

    <div class="row skills-content">

      {% if site.my_info.skills.all %}
      {% for skill in site.my_info.skills.all %}
      <div class="col-lg-6">
        {% if not forloop.counter|divisibleby:2 %}
      <div class="progress">
        <span class="skill">{{ skill.name }} <i class="val">{{ skill.proficiency}}%</i></span>
        <div class="progress-bar-wrap">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.proficiency}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      {% endif %}
      </div>
      {% if forloop.counter|divisibleby:2 %}
      <div class="col-lg-6">
        <div class="progress">
          <span class="skill">{{ skill.name }} <i class="val">{{ skill.proficiency}}%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.proficiency}}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      {% else %}
      <h3>No skills provided yet</h3>
      {% endif %}

    </div>

  </div><!-- End Skills -->

  <!-- ======= Interests ======= -->
  <div class="interests container">

    <div class="section-title">
      <h2>Interests</h2>
    </div>

    <div class="row">
      {% if site.my_info.interests.all %}
      {% for interest in site.my_info.interests.all %}
      <div class="col-lg-3 col-md-4">
        <div class="icon-box">
          <i class="ri-store-line" style="color: #ffbb2c;"></i>
          <h3>{{ interest.interest }}</h3>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h3>No interests provided yet.</h3>
      {% endif %}
    </div>

  </div><!-- End Interests -->

  <!-- ======= Testimonials ======= -->
  <div class="testimonials container">

    <div class="section-title">
      <h2>Testimonials</h2>
    </div>

    {% if site.my_info.testimonials.all %}
    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        {% for testimonial in site.my_info.testimonials.all %}
        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              {{ testimonial.testimony }}
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <h3>{{ testimonial.name }}</h3>
            <h4>{{ testimonial.occupation }}</h4>
          </div>
        </div><!-- End testimonial item -->
        {% endfor %}

      </div>
      <div class="swiper-pagination"></div>
    </div>

    <div class="owl-carousel testimonials-carousel">

    </div>
    {% else %}
    <h3>No testimonials provided yet.</h3>
    {% endif%}

  </div><!-- End Testimonials  -->

</section><!-- End About Section -->

<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container">

    <div class="section-title">
      <h2>Resume</h2>
      <p>Check My Resume</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Sumary</h3>
        {% if site.my_info.resume.summary %}
        <div class="resume-item pb-0">
          <h4>{{ site.my_info.resume.summary.get_fullname }}</h4>
          <p><em>{{ site.my_info.resume.summary.resume_summary }}</em>
          </p>
          <p>
          <ul>
            <li>{{ site.my_info.resume.summary.address }}</li>
            <li>{{ site.my_info.resume.summary.phone_number }}</li>
            <li>{{ site.my_info.resume.summary.email }}</li>
          </ul>
          </p>
        </div>
        {% else %}
        <h4>No resume summary provided yet.</h4>
        {% endif %}

        <h3 class="resume-title">Education</h3>
        {% if site.my_info.resume.educations.all %}
        {% for education in site.my_info.resume.educations.all %}
        <div class="resume-item">
          <h4>{{ education.degree_acquired}}</h4>
          <h5>{{ education.duration }}</h5>
          <p><em>{{ education.institution }}</em></p>
          <p>{{ education.brief_info }}</p>
        </div>
        {% endfor %}
        {% else %}
        <h3>No educational qualifications provided yet.</h3>
        {% endif %}
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Professional Experience</h3>
        {% if site.my_info.resume.experiences.all %}
        {% for experience in site.my_info.resume.experiences.all %}
        <div class="resume-item">
          <h4>{{ experience.job_title }}</h4>
          <h5>{{ experience.location }}</h5>
          <p><em>{{ experience.location }}</em></p>
          <p>
          {% if experience.highlights.all %}
          <ul>
            {% for highlight in experience.highlights.all %}
            <li>{{ highlight.highlight }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          </p>
        </div>
        {% endfor %}
        {% else %}
        <h4>No professional experiences provided yet.</h4>
        {% endif %}
      </div>
    </div>

  </div>
</section><!-- End Resume Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">

    <div class="section-title">
      <h2>Services</h2>
      <p>My Services</p>
    </div>

    <div class="row">
      {% if site.my_info.services.all %}
      {% for service in  site.my_info.services.all %}
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4><a href="">{{ service.description }}</a></h4>
          <p>{{ service.name }}</p>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h3>No service offered yet.</h3>
      {% endif %}

    </div>

  </div>
</section><!-- End Services Section -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container">

    <div class="section-title">
      <h2>Portfolio</h2>
      <p>My Works</p>
    </div>

    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul class="portfolio-flters" id="photo-flters">
          <li data-filter="*" class="filter-active">All</li>
          {% if project_categories %}
          {% for category in project_categories %}
          <li data-filter=".filter-{{ category.name | slugify }}">{{ category.name }}</li>
          {% endfor %}
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" id="portfolio-container">

      {% if site.my_info.projects.all %}
      {% for project in site.my_info.projects.all %}
      <div class="col-lg-4 col-md-6 portfolio-item {% for category in project.categories.all %}filter-{{ category.name | slugify }} {% endfor %}">
        <div class="portfolio-wrap">
          <img src="{% if project.images.all %}{{ project.images.all.0.image.url }}{% endif %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>{{ project.name }}</h4>
            <p>{% for category in project.categories.all %}{{ category.name }}, {% endfor %}</p>
            <div class="portfolio-links">
              <a href="{% if project.images.all %}{{ project.images.all.0.image.url }}{% endif %}" data-gallery="portfolioGallery" class="portfolio-lightbox"
                title="{{ project.name }}"><i class="bx bx-plus"></i></a>
              <a href="{% url 'core:portfolio' pk=project.pk %}"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h3>No projects in portfolio yet.</h3>
      {% endif %}

    </div>

  </div>
</section><!-- End Portfolio Section -->

<!-- ======= Contact Section ======= -->
<section id="contactx" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>Contact</h2>
      <p>Contact Me</p>
    </div>

    <div class="row mt-2">

      <div class="col-md-6 d-flex align-items-stretch">
        <div class="info-box">
          <i class="bx bx-map"></i>
          <h3>My Address</h3>
          <p>{{ site.my_info.address }}</p>
        </div>
      </div>

      <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
        <div class="info-box">
          <i class="bx bx-share-alt"></i>
          <h3>Social Profiles</h3>
          <div class="social-links">
            {% for account in site.my_info.social_accounts.all %}
            <a href="{{ account.link }}" class="{{ account.name }}"><i class="bi bi-{{ account.name }}"></i></a>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-4 d-flex align-items-stretch">
        <div class="info-box">
          <i class="bx bx-envelope"></i>
          <h3>Email Me</h3>
          <p>{% for email in site.my_info.emails.all %}<a href="mailto:{{ email.email }}">{{ email.email }}</a>, {% endfor %}</p>
        </div>
      </div>
      <div class="col-md-6 mt-4 d-flex align-items-stretch">
        <div class="info-box">
          <i class="bx bx-phone-call"></i>
          <h3>Call Me</h3>
          <p>{% for number in site.my_info.phone_numbers.all %}<a href="tel:{{ number.number }}">{{ number.number }}</a>, {% endfor %}</p>
        </div>
      </div>
    </div>

    <form action="{% url 'core:message' %}" method="post" role="form" class="php-email-form mt-4">
      {% csrf_token %}
      <input type="hidden" name="info" value="{{ site.my_info.pk }}">
      <div class="row">
        <div class="col-md-6 form-group">
          <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
        </div>
        <div class="col-md-6 form-group mt-3 mt-md-0">
          <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
        </div>
      </div>
      <div class="form-group mt-3">
        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
      </div>
      <div class="form-group mt-3">
        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
      </div>
      <div class="text-center"><button type="submit">Send Message</button></div>
    </form>

  </div>
</section><!-- End Contact Section -->

{% endblock %}